<article>
  <a href='/dashboard'> &larr; Back to dashboard</a>

  <form class='edit-post-form'>
    <h2>
      Edit Post
    </h2>
    <div>
      <div>
        <label for='post-title'>Title</label>
        <input name='post-title' type='text' value='{{post.title}}' />
      </div><div>
        <label for='post_text'>Content</label>
        <textarea name='post-text' type='text'>{{post.post_text}}
        </textarea>
      </div>
    </div>

    <button type='submit'>Save post</button>
    <button type='button' class='delete-post-btn'>Delete post</button>
  </form>
</article>

<script src='/javascript/edit-post.js'></script>
<script src='/javascript/delete-post.js'></script>