* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #8794a5;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

.comment {
  border: 2px solid rgb(20, 21, 27);
  margin: 10px 0;
  padding: 1%;
}

.new-post-form,
.edit-post-form {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid rgb(20, 21, 27);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.post,
.comment-form {
  border: 2px solid rgb(20, 21, 27);
  margin: 10px 0;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-body {
  padding: 0 10px;
}

textarea,
input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.login-form,
.signup-form {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;

  border: 1px solid rgb(20, 21, 27);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#login,
#signup {
  padding: 10px;
}

header {
  border-bottom: 1px solid #ccc;
  background-color: #27292c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}

nav a {
  padding: 0 30px;
}

header h1 {
  font-size: 2em;
  text-shadow: #979494 0 0 2px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.title {
  background-color: #434549;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.title h4 {
  margin: 0;
  padding: 10px;
}

.title .meta {
  padding: 5px;
  font-size: 0.8em;
  color: #fff;
  font-weight: normal;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
  padding: 10px;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}
#edit {
  margin: 10px;
}
.new-post-form input,
.new-post-form textarea {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
